@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root { 
  --primary-color: rgb(17, 86, 102);/*variaveis globais*/
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  height:500px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

#music-clicker {
  height:20px;
  background-color:rgba(5, 63, 253, 0.212);
  position:absolute;
  z-index: 3;
}

#music-seeker {
  background-color:transparent;
  border-right:2px orange solid;
  position:absolute;
  height:20px;
  z-index: 2;
}

#music-progress {
  position:absolute;
  z-index: 1;
  background-color:indigo;
  height:20px;
  width: 0px;
}


#player-wrapper {
  display: flex;
}

#playlist-table {
  background-color:rgb(34, 34, 34);
}

#playlist-table div {
  border-bottom: 1px dashed rgb(209, 201, 201);
}

#playlist-table div span {
  display: inline-block;
  padding:0px 10px;
}


.trackRow {
  display: flex;
}

.trackRow span:first-child {
  cursor:pointer;
}


#playlist-table div:first-child,
#playlist-table div:last-child,
#progress-wrapper,
#progress-wrapper div{
  border-bottom: none!important;
}

.titulo-faixa {
  width: 80%;
  font-size:10px;
  color:rgba(255, 255, 255, 0.459);
}

.duracao-faixa {
  width:20%;
  font-size:10px;
  right:0;
  text-align: right;
  color:rgba(255, 255, 255, 0.459);
}

#playlist-table div span:first-child.now-playing {
  color:rgb(240, 160, 12);
  font-weight: bold;
  font-size:12px;
}

#playlist-table div span:last-child.now-playing {
  color:rgb(253, 231, 132);
  font-weight: bold;
  font-size:12px;
}

#progress-wrapper {
  display:block;
  height:20px;
}

#albumArtwork {
  background-image: url('../img/thumb0.jpg');
  font-size:0px;
  color:white;
  cursor:pointer;
}

#artwork-mouseover{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
}

#artwork-mouseover:hover{
  background-color:rgba(0, 0, 0, 0.342);
  font-size:25px;
}